*{
    padding: 0;
    margin: 0;
}

.menu{
    margin-top: 10px;
    margin-left: 5px;
}

.menu span{
    width: 100px;
    height: 30px;
    background-color: palevioletred;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.menu span:hover{
    background-color: red;
    color: white;
}

.menu-vertical span{
    display: block;
}
