*{
    padding: 0;
    margin: 0;
}

.menu{
    margin-top: 10px;
    margin-left: 10px;
}

.menu span{
    width: 100px;
    height: 30px;
    background-color: palevioletred;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.menu-vertical span{
    display: block;

}

.menu_dropdown{
    display: none;
}

.menu_dropdown span{
    background-color: yellow;
    color: black;
}

.menu span:hover{
    background-color: red;
    color: white;
}

.menu span:hover .menu_dropdown{
    display: block;
    position: fixed;
}

